@{
    ViewData["Title"] = "Patient Page";
}

 <!-- start hero -->
@*
<link rel="stylesheet" href="~css/our.css">*@
    <section id="hero" class="d-flex align-items-center">
        <div class="container " >
            <div class="row">
                <img class="image1" src="~/Media/2.jpg" alt="">
                <h1 class="text">Making Health</h1>
                <h1 class="text1 left">Care Better Together</h1>
                <p class="paragraph paragraph0">Patients identified having a need for personal space,a homely</p> 
                <p class="paragraph paragraph1 ">  atmosphere,a supportive environment, physical design,access</p>
                <p class="paragraph paragraph2 ">  to external areas and provision of facilities </p>
                <P class="paragraph paragraph3 ">for recreation and leisure</P>
                <div class="col-3 ">
                    <a href="#appointment">
                        <button type="submit" class ="btn button btn-primary">Make Appointment</button>
                    </a> 

                    <!-- <button type="submit" class="btn btn-primary button">Make Appointment</button> -->
                </div>
                <div class="col-3  ">
                    <button type="submit" class="btn btn-outline-secondary button1">View Departments</button>
                </div>
            </div>


        </div>
    </section>
    <!-- end hero -->

    <!-- Services -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>Learn more about the services provided by our clinic and how we provide you with world-class care.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                      <div class="icon"><i class="fas fa-heartbeat"></i></div>
                      <h4><a href="">Echocardiograms</a></h4>
                      <p>Associates is able to view the beating of the heart and many of its structures</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                      <div class="icon"><i class="fas fa-pills"></i></div>
                      <h4><a href="">Dermatology</a></h4>
                      <p>Our providers are trained to handle a spectrum of skin conditions, covering the majority of your dermatology</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                      <div class="icon"><i class="fas fa-hospital-user"></i></div>
                      <h4><a href="">Pediatric Services</a></h4>
                      <p>If you are expecting a child, follow-up care with Our clinic pediatricians can be arranged prior to or after your hospital/birth discharge</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                      <div class="icon"><i class="fas fa-dna"></i></div>
                      <h4><a href="">Women's Healthcare</a></h4>
                      <p>Women's health is a field covering the numerous health concerns that women face, from reproductive and sexual health to mammograms</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                      <div class="icon"><i class="fas fa-wheelchair"></i></div>
                      <h4><a href="">CT Scans</a></h4>
                      <p>A CT scan (computed tomography) scan is a non-invasive procedure that allows providers to view 3D images taken from a series of 2D X-ray images</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                      <div class="icon"><i class="fas fa-notes-medical"></i></div>
                      <h4><a href="">Divera don</a></h4>
                      <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                    </div>
                </div>

        </div>
        </div>
    </section>
    <!-- End Services -->

    