@using eadProject.Models
@model Admin

<html>
<head>
    <title>SignUp</title>
    <link rel="stylesheet" href="~/css/our.css">

</head>
<body class="login">
     <div id="login">
        <h3 class="text-center text-white pt-5">SignUp Form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-8">
                    <div id="login-box-docSignup" class="col-md-12">
                        <form id="login-form" class="form" action="/Admin/SignUpAdmin" method="post">
                            <h3 class="text-center text-info marginAbove">Admin SignUp</h3>
                            <div class="form-group">
                                <label asp-for="CNIC" class="text-info" ></label><br>
                                 <input asp-for="CNIC" pattern="^[0-9]{5}-[0-9]{7}-[0-9]{1}$" class="form-control " >
                            </div>
                            <div class="form-group">
                                <label asp-for="Name"  class="text-info"></label><br>
                                <input asp-for="Name" class="form-control"  required>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="text-info"></label><br>
                                <input asp-for="Password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#$%^&*_=+-]).{8,12}$" title="Please enter at least 8 chars, 1 number, 1 symbol and 1 uppercase alphabet" required>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password" class="text-info">Password:</label><br>
                                <input type="password" name="ConfirmPassword" id="cnfrmpassword" class="form-control" required>
                            </div>
                            <div class="form-group">
                                @*<label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>*@
                                <input type="submit" name="submit" class="btn btn-info btn-md buttonMarginAbove" value="Submit" onclick="return Validate()">
                            </div>

                            <div id="register-link" class="text-right">
                                <a asp-action="Login" class="text-info">Already Registered? Login here</a>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>