<div class="form-group">
    <label for="CNIC" class="text-info">CNIC:</label><br>
    <input type="text" name="CNIC" id="CNIC" class="form-control">
</div>
<div class="form-group">
    <label for="password" class="text-info">Password:</label><br>
    <input type="password" name="password" id="password" class="form-control">
</div>
<br>
<div class="form-group">
    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
</div>