<html>
<head>
    <title>UnSuccessfull Sign Up</title>
    <link rel="stylesheet" href="~/css/our.css">
</head>
<body class="UnSuccessfulLogin">
    <div id="login">
        <h3 class="text-center text-white pt-5">Try again, Invalid ID Or Passaword</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/Patient/PatientSignUp" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">CNIC:</label><br>
                                <input type="text" pattern="^[0-9]{5}-[0-9]{7}-[0-9]{1}$" class="form-control" title="Type your CNIC like 12345-1234567-1" name="CNIC" id="CNIC" placeholder="Your CNIC" required>
                            </div>
                            <div class="form-group">
                                <label for="Name" class="text-info">Name:</label><br>
                                <input type="text" name="username" id="name" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control" pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#$%^&*_=+-]).{8,12}$" required>
                            </div>
                            <br>
                            <div class="form-group">
                                @*<label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>*@
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>

                            <div id="register-link" class="text-right">
                                <a href="/Patient/PatientLogin" class="text-info">Already have an account? Login here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>