@Model EAD_Project.Model

@{
    ViewData["Title"] = "Doctor";
}

<section id="appointment" class="appointment section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Your Record</h2>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Doctor ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">CNIC</th>
                            <th scope="col">Current Appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@Model.DoctorId</th>
                            <td>@Model.Name</td>
                            <td>@Model.CNIC</td>
                            <td>@Model.Appointments</td>
                        </tr>
                    </tbody>

                    </table>
            </div>

        </div>
    </div>
</section>
