<html>
<head>
    <title>SignUp</title>
    <link rel="stylesheet" href="~/css/our.css">

</head>
<body class="login">
    <div id="login">
        <h3 class="text-center text-white pt-5">SignUp Form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/Admin/SignUpAdmin" method="post">
                            <h3 class="text-center text-info">SignUp</h3>
                            
                            <partial name="_PartialLoginView" />
                            
                            <div id="register-link" class="text-right">
                                <a href="/Admin/Login" class="text-info">Already Registered? Login here</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>